@*
    @page basically telling that this will be a razor page
    and after that we are importing the corrosponding cs file for this page
*@
@page
@model Razor_Project.Pages.Catagories.IndexModel


<div class="container">
    <div class="row pt-5 pb-3">
        <div class="col-6">
            <h1>
                Catagory List
            </h1>
        </div>
        <div class="col-6 text-end">
            @*
                We don't need the asp-action here, and instead of asp-controller, we will use asp-page and inside it
                We will give the full path to the view.
            *@
            <a asp-page="/Catagories/Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i> Add a new Catagory
            </a>
        </div>
    </div>
</div>
<table class=" table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Catagory Name
            </th>
            <th>
                Display Order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @*
            With the Model, we can access all the data members of the Index.cshtml.cs file.
        *@

       @foreach (var obj in Model.CatagoryList.OrderBy(x => x.DisplayOrder))
        {
            <tr>
                <td> @obj.Name </td>
                <td> @obj.DisplayOrder </td>
                <td>
                    <a asp-page="/Catagories/Edit" asp-route-id="@obj.ID" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-page="/Catagories/Delete" asp-route-id="@obj.ID" class="btn btn-danger mx-2">
                        <i class="bi bi-trash3-fill"></i> Delete
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>
